body
{
    background-color: rgb(243, 197, 174);
    width: 70%;
    margin: auto;
    text-align: center;
}

h1
{
    font-family: 'Lobster', cursive;
    font-size: 3cm;
    color: rgb(122, 14, 136);
    letter-spacing: 1mm;
}

.dice{
    text-align: center;
    display: inline-block;
    padding: 30px;
    font-size: 1cm;
    font-family: cursive;
    color: rgba(167, 39, 39, 0.781);
    margin-top: -60px;
}

